* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(184, 18, 18);
}

h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(
    rgb(34, 33, 33),
    rgb(184, 18, 18) 30% 70%,
    rgb(34, 33, 33)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5px;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  background: linear-gradient(rgb(51, 50, 50) 1%, rgb(34, 33, 33) 70%);
  border: 1px solid rgb(184, 18, 18);
  height: 20px;
  font-size: 15px;
  border-radius: 3px;
  width: 150px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(34, 33, 33);
}

#d1 {
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: linear-gradient(rgb(34, 33, 33), rgb(96, 26, 102));
}

#char1Storage {
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#char2Storage {
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#char1Div {
  height: 40px;
  width: 25px;
  background: rgb(76, 128, 29);
  background: linear-gradient(rgb(138, 233, 54), rgb(76, 128, 29));
  border-radius: 100%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 1px rgb(5, 39, 15) solid;
  border-bottom: 3px rgb(5, 39, 15) solid;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 100px;
  top: -100px;
}

#char2Div {
  height: 40px;
  width: 25px;
  background: rgb(218, 134, 9);
  background: linear-gradient(rgb(226, 200, 50), rgb(218, 134, 9));
  border-radius: 100%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 1px rgb(32, 27, 3) solid;
  border-bottom: 3px rgb(32, 27, 3) solid;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 275px;
  top: -200px;
}

#kid1Div {
  height: 20px;
  width: 20px;
  background: linear-gradient(rgb(77, 77, 175), rgb(43, 43, 177));
  top: -220px;
  border-radius: 100%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

#statusBarContainer {
  height: 40px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.charContainer {
  height: 40px;
  width: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.charName {
  height: 20px;
  width: 100px;
}

.charStatusBarContainer {
  height: 20px;
  width: 100px;
  border: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.char1StatusBarContainer {
  align-items: flex-start;
}

.char2StatusBarContainer {
  align-items: center;
}

.bar {
  border: 1px black solid;
}

.healthBar {
  background: red;
  border-bottom: rgb(92, 6, 6) 2px solid;
  border-top: rgb(240, 88, 88) 1px solid;
}

.staminaBar {
  background: green;
  border-bottom: rgb(1, 41, 1) 2px solid;
  border-top: rgb(64, 240, 64) 1px solid;
}

#char1Health {
  height: 5px;
  width: 100px;
}

#char1Stamina {
  height: 5px;
  width: 100px;
}

#char2Health {
  height: 5px;
  width: 100px;
  align-self: flex-end;
}

#char2Stamina {
  height: 5px;
  width: 100px;
  align-self: flex-end;
}

.charName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hurt {
  animation-name: hurt;
  animation-duration: 100ms;
}

@keyframes hurt {
  from {
    border-radius: 100%;
  }
  50% {
    background: red;
    border-radius: 90%;
  }
  to {
    border-radius: 100%;
  }
}

.death {
  animation-name: death;
  animation-duration: 100000ms;
}

@keyframes death {
  from {
  }
  .5% {
    height: 10px;
    width: 70px;
    background: red;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
  }
  to {
    height: 10px;
    width: 70px;
    background: rgb(75, 21, 21);
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
  }
}

.dead {
  animation-name: dead;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-delay: 1000ms;
}

@keyframes dead {
  from {
    height: 30px;
    width: 50px;
    background: red;
  }
  to {
    height: 30px;
    width: 50px;
    background: red;
  }
}

#char1InternalDiv {
  width: 5px;
  height: 5px;
  background: rgb(109, 183, 42);
  border-radius: 100%;
}
#char2InternalDiv {
  width: 5px;
  height: 5px;
  background: rgb(222, 167, 33);
  border-radius: 100%;
}
.attack {
  animation-name: attack;
  animation-duration: 300ms;
}

@keyframes attack {
  from {
  }
  50% {
    width: 90px;
  }
  to {
    widows: 5px;
  }
}

.block {
  animation-name: block;
  animation-duration: 1000ms;
}

@keyframes block {
  from {
  }
  10% {
    border: 4px purple solid;
  }
  50% {
    border: 6px black solid;
  }
  90% {
    border: 4px purple solid;
  }
  to {
  }
}

.slideRight {
  animation-name: slideRight;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
}

@keyframes slideRight {
  from {
    margin-left: -25px;
  }
  50% {
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    width: 27px;
    height: 38px;
  }
  to {
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 50%;
    margin-left: 0px;
    width: 25px;
    height: 40px;
  }
}

.slideLeft {
  animation-name: slideLeft;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
}

@keyframes slideLeft {
  0% {
    margin-left: 25px;
  }
  50% {
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    width: 27px;
    height: 38px;
  }
  100% {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 100%;
    margin-left: 0px;
    width: 25px;
    height: 40px;
  }
}

.jumpChar1 {
  animation-name: jumpChar1;
  animation-duration: 500ms;
}

@keyframes jumpChar1 {
  0% {
  }
  50% {
    top: -160px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  100% {
    top: -100px;
    width: 25px;
    height: 40px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
}

.jumpRightChar1 {
  animation-name: jumpRightChar1;
  animation-duration: 500ms;
}

@keyframes jumpRightChar1 {
  0% {
    margin-left: -50px;
  }
  50% {
    top: -160px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  100% {
    top: -100px;
    width: 25px;
    height: 40px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 0px;
  }
}

.jumpLeftChar1 {
  animation-name: jumpLeftChar1;
  animation-duration: 500ms;
}

@keyframes jumpLeftChar1 {
  0% {
    margin-left: 50px;
  }
  50% {
    top: -160px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  100% {
    top: -100px;
    width: 25px;
    height: 40px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 0px;
  }
}

.jumpChar2 {
  animation-name: jumpChar2;
  animation-duration: 500ms;
}

@keyframes jumpChar2 {
  0% {
  }
  50% {
    top: -260px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  100% {
    top: -200px;
    width: 25px;
    height: 40px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
}

.jumpRightChar2 {
  animation-name: jumpRightChar2;
  animation-duration: 500ms;
}

@keyframes jumpRightChar2 {
  0% {
    margin-left: -50px;
  }
  50% {
    top: -260px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  100% {
    top: -200px;
    width: 25px;
    height: 40px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 0px;
  }
}

.jumpLeftChar2 {
  animation-name: jumpLeftChar2;
  animation-duration: 500ms;
}

@keyframes jumpLeftChar2 {
  0% {
    margin-left: 50px;
  }
  50% {
    top: -260px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  100% {
    top: -200px;
    width: 25px;
    height: 40px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 0px;
  }
}

.duck {
  animation-name: duck;
  animation-duration: 500ms;
}

@keyframes duck {
  0% {
  }
  50% {
    width: 40px;
    height: 15px;
  }
  100% {
    width: 25px;
    height: 40px;
  }
}

.victoryDance {
  animation-name: victoryDance;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-delay: 500ms;
}

@keyframes victoryDance {
  from {
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    width: 27px;
    height: 38px;
    margin-left: 0px;
    margin-top: 0px;
  }
  10% {
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 55%;
    border-top-right-radius: 60%;
  }
  25% {
    margin-left: -4px;
    width: 23px;
    height: 43px;
  }
  50% {
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    width: 27px;
    height: 38px;
    margin-left: 0px;
    margin-top: 0px;
  }
  60% {
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 55%;
    border-top-left-radius: 60%;
  }
  75% {
    margin-left: 6px;
    width: 23px;
    height: 43px;
  }
  to {
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    width: 27px;
    height: 43px;
    margin-left: 0px;
    margin-top: 0px;
  }
}

.tired {
  animation-name: tired;
  animation-duration: 2000ms;
  animation-iteration-count: 10;
}

@keyframes tired {
  0% {
    width: 25px;
    margin-left: 0px;
  }
  50% {
    width: 31px;
    margin-left: -3px;
  }
  100% {
    width: 25px;
    margin-left: 0px;
  }
}

#winnerText {
  font-size: 55px;
  position: relative;
  top: -300px;
  font-size: 40px;
  background: -webkit-linear-gradient(
    rgb(184, 18, 18) 60%,
    rgb(34, 33, 33) 99.9%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.enlargeText {
  animation-name: enlargeText;
  animation-duration: 600ms;
}

@keyframes enlargeText {
  0% {
    font-size: 1px;
  }
  100% {
    font-size: 40px;
  }
}

#instructionsContainer {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#char2Instructions {
  text-align: right;
}

p {
  font-size: x-small;
}
